<div class="footer">
        <div id="Symbol">
            <h3>نماد ها</h3>
        </div>
        <div id="Social_networks">
            <h3>شبکه های اجتماعی</h3>
            <a style="background-color: red;" href="#">اینستاگرام</a>  <br />
            <a style="background-color: blue;" href="#">تلگرام</a>
        </div>

        <div id="Support">
            <h3>پشتیبانی</h3> <br />
            شماره تماس : 09911234567 <br />
            ایمیل : example@gmail.come
        </div>

        <div id="about">
            <h3>درباره ما</h3>
            <p>ما تلاش می‌کنیم با ارائه محصولات متنوع، قیمت‌های رقابتی و خدمات مطمئن، تجربه‌ای لذت‌بخش از خرید اینترنتی برای شما فراهم کنیم. اعتماد و رضایت شما بزرگ‌ترین سرمایه ماست.</p>
        </div>
</div>