<div id="head">
        <div id="siteicon">
            <img src="../static/image/siteicon.png" alt="site icon">
            <a href="#">siteicon</a>
        </div>
        <div id="searchbox">
            <form action="">
                <input type="text" placeholder="جستجو..." id="searchinput">
                <input type="submit" name="q" value="search">
            </form>
        </div>
        <div id="sinlog">
            <a href="#">ورود/ثبت نام</a>
            <button><img  id="searchbutton" src="../static/image/searchicon.png" alt="search"></button>
        </div>
    </div>
    <div id="menu">
        <ul id="ulmenu">
            <li>
                <a href="#">دسته بندی محصولات</a>
                <ul class="dropdown">
                    <li><a href="#">مردانه</a></li>
                    <li><a href="#">زنانه</a></li>
                    <li><a href="#">دیجیتال</a></li>
                    <li><a href="#">لوازم خانگی</a></li>
                </ul>
            </li>
            <li>
                <a href="#">خانه</a>
            </li>
            <li>
                <a href="#">تماس با ما</a>
            </li>

            <li>
                <a href="#">جدید ترین محصولات</a>
            </li>
        </ul>
    </div>

    <div id="footermenu">
        <a id="loginsinin" href="#"><img src="../static/image/profile.png" alt="profile"></a>
        <button id="searchboxfooter"><img id="searchboxfooterimg" src="../static/image/searchicon.png" alt="search icon"></button>
        <button id="menufooter"><img id="menufooterimg" src="../static/image/menu.png" alt="menu"></button>
    </div>

    <div id="menu_strip">
        <h2>منو</h2>
        <div id="menu_strip_list">
            <ul id="ul_menu_strip_list">
                <li>
                    <a href="#">دسته بندی محصولات</a>
                    <ul id="dropdown_menu_strip_list">
                        <li><a href="#">مردانه</a></li>
                        <li><a href="#">زنانه</a></li>
                        <li><a href="#">دیجیتال</a></li>
                        <li><a href="#">لوازم خانگی</a></li>
                        <li><a href="#">مردانه</a></li>
                        <li><a href="#">زنانه</a></li>
                        <li><a href="#">دیجیتال</a></li>
                        <li><a href="#">لوازم خانگی</a></li>
                        <li><a href="#">مردانه</a></li>
                        <li><a href="#">زنانه</a></li>
                        <li><a href="#">دیجیتال</a></li>
                        <li><a href="#">لوازم خانگی</a></li>
                        <li><a href="#">مردانه</a></li>
                        <li><a href="#">زنانه</a></li>
                        <li><a href="#">دیجیتال</a></li>
                        <li><a href="#">لوازم خانگی</a></li>
                        <li><a href="#">مردانه</a></li>
                        <li><a href="#">زنانه</a></li>
                        <li><a href="#">دیجیتال</a></li>
                        <li><a href="#">لوازم خانگی</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">خانه</a>
                </li>
                <li>
                    <a href="#">تماس با ما</a>
                </li>

                <li>
                    <a href="#">جدید ترین محصولات</a>
                </li>
            </ul>
        </div>
    </div>