<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body>
    <div id="head">
        <div id="siteicon">
            <img src="../static/image/siteicon.png" alt="site icon">
            <a href="#">siteicon</a>
        </div>
        <div id="searchbox">
            <form action="">
                <input type="text" placeholder="جستجو..." id="searchinput">
                <input type="submit" value="search">
            </form>
        </div>
        <div id="sinlog">
            <a href="#">ورود/ثبت نام</a>
            <button><img  id="searchbutton" src="../static/image/searchicon.png" alt=""></button>
        </div>
    </div>
    <div id="menu">
        <ul id="ulmenu">
            <li>
                <a href="#">مردانه</a>
                <ul class="dropdown">
                    <li><a href="#">تیشرت</a></li>
                    <li><a href="#">بلوز</a></li>
                    <li><a href="#">شلوار مردانه</a></li>
                    <li><a href="#">کفش مردانه</a></li>
                    <li><a href="#">کاپشن</a></li>
                </ul>
            </li>
            <li>
                <a href="#">زنانه</a>
                <ul class="dropdown">
                    <li><a href="#">تیشرت</a></li>
                    <li><a href="#">بلوز</a></li>
                    <li><a href="#">شلوار زنانه</a></li>
                    <li><a href="#">کفش زنانه</a></li>
                    <li><a href="#">پالتو</a></li>
                </ul>
            </li>
            <li>
                <a href="#">بچه گانه</a>
                <ul class="dropdown">
                    <li><a href="#">تیشرت</a></li>
                    <li><a href="#">بلوز</a></li>
                    <li><a href="#">شلوار بچه گانه</a></li>
                    <li><a href="#">کفش بچه گانه</a></li>
                    <li><a href="#">کاپشن</a></li>
                </ul>
            </li>
            <li>
                <a href="#">لوازم خانه</a>
                <ul class="dropdown">
                    <li><a href="#">لباسشویی</a></li>
                    <li><a href="#">اجاق گاز</a></li>
                    <li><a href="#">یخچال</a></li>
                    <li><a href="#">ماکروفر</a></li>
                    <li><a href="#">ظرفشویی</a></li>
                </ul>
            </li>
            <li>
                <a href="#">دیجیتال</a>
                <ul class="dropdown">
                    <li><a href="#">کامپیوتر</a></li>
                    <li><a href="#">لب تاپ</a></li>
                    <li><a href="#">گوشی</a></li>
                    <li><a href="#">اسپیکر</a></li>
                    <li><a href="#">تلویزیون</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
    <script src="../static/js/index.js"></script>
</body>
</html>