<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>index</title>
</head>
<body>
    <div class="banner_body">
        <span class="slider_title">بنر تبلیغاتی</span>
        <div id="banner_container">
            <div class="banner">
                <div class="sall">
                    sall 50%
                </div>
                <img src="../static/image/shooz1.jpg" alt="sall">
                <div class="banner_info">
                    <h2>1تخفیف ویژه تابستانه</h2>
                    <p>تا 50% تخفیف روی تمامی محصولات</p>
                    <a href="#">مشاهده محصولات</a> 
                </div>
            </div>

            <div class="banner">
                <div class="sall">
                    sall 50%
                </div>
                <img src="../static/image/shooz1.jpg" alt="sall">
                <div class="banner_info">
                    <h2>2تخفیف ویژه تابستانه</h2>
                    <p>تا 50% تخفیف روی تمامی محصولات</p>
                    <a href="#">مشاهده محصولات</a> 
                </div>
            </div>

            <div class="banner">
                <div class="sall">
                    sall 50%
                </div>
                <img src="../static/image/shooz1.jpg" alt="sall">
                <div class="banner_info">
                    <h2>1تخفیف ویژه تابستانه</h2>
                    <p>تا 50% تخفیف روی تمامی محصولات</p>
                    <a href="#">مشاهده محصولات</a> 
                </div>
            </div>

        </div>
    </div>

    <div id="slider">
        <button id="btn_left">
                <img src="../static/image/left.png" alt="scroll">
        </button>
        <span class="slider_title">جدید ترین محصولات</span>
        <div id="container1">
            
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>1
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>2
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>3
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>
                </a>
            </div>
            <div class="product-container1">
                <a href="#">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <h3>کفش مردانه Fila مدل Kils</h3>23
                </a>
            </div>
        </div>
        <button id="btn_right">
                <img src="../static/image/right.png" alt="scroll">
        </button>
    </div>

    <div id="container2">
        <span class="slider_title">همه محصولات</span>
        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>
        
    </div>

    <div id="container3">
        <span class="slider_title">تخفیفات ویژه</span>
        <div class="product-container3">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <div class="off">
                        20% OFF
                    </div>
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>
                
            </a>
        </div>

        <div class="product-container3">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <div class="off">
                        20% OFF
                    </div>
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>
                
            </a>
        </div>

        <div class="product-container3">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <div class="off">
                        20% OFF
                    </div>
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>
                
            </a>
        </div>

        <div class="product-container3">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <div class="off">
                        20% OFF
                    </div>
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>
                
            </a>
        </div>

        <div class="product-container3">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <div class="off">
                        20% OFF
                    </div>
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>
                
            </a>
        </div>

        <div class="product-container3">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <div class="off">
                        20% OFF
                    </div>
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>
                
            </a>
        </div>

        <div class="product-container3">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <div class="off">
                        20% OFF
                    </div>
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>
                
            </a>
        </div>

        <div class="product-container3">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <div class="off">
                        20% OFF
                    </div>
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>
                
            </a>
        </div>
 
    </div>

    
    <script src="../static/js/index.js"></script>
</body>
</html>