<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body>
    <div id="head">
        <div id="siteicon">
            <img src="../static/image/siteicon.png" alt="site icon">
            <a href="#">siteicon</a>
        </div>
        <div id="searchbox">
            <form action="">
                <input type="text" placeholder="جستجو..." id="searchinput">
                <input type="submit" value="search">
            </form>
        </div>
        <div id="sinlog">
            <a href="#">ورود/ثبت نام</a>
            <button><img  id="searchbutton" src="../static/image/searchicon.png" alt=""></button>
        </div>
    </div>
    
    <script src="../static/js/index.js"></script>
</body>
</html>