<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>log in</title>
</head>
<body>
    <div class="form_container">
        <h1>ورود</h1>
        <form class="sinin_form" action="">
            <div>
                <label for="lphone_number">شماره تماس</label>
                <input type="text" id="lphone_number" placeholder="*********09"> 
                <span id="lphonespan"></span>
            </div>

            <div>
                <label for="lpassword">رمز</label>
                <input type="text" id="lpassword" placeholder="رمز">
                <span id="lpassspan"></span>
            </div>

            <a href="#">هنوز ثبت نام نکرده اید؟ثبت نام</a>

            <input type="submit" value="ثبت نام">
        </form>
    </div>
    
    <script src="../static/js/login.js"></script>
</body>
</html>