<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/product.css">
    <title>product</title>
</head>
<body>
    <div id="product">
        <div id="image_title">
            <div id="product_img">
                <button id="left_scroll">
                    <img src="../static/image/left.png" alt="left scroll">
                </button>
                <div id="product_img_slider">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                    <img src="../static/image/shooz1.jpg" alt="product image">
                </div>
                <button id="right_scroll">
                    <img src="../static/image/right.png" alt="right scroll">
                </button>
            </div>

            <div id="product_information">
                <h1>اسم محصول</h1>
                <p>اطلاغاتی مانند رنگ و اندازه و ...</p>
                <a href="#">ثبت سفارش</a>
            </div>
        </div>

        <div id="description">
            <h3>توضیحات</h3>
            <p>
                توضیحات کلی مربوط به محصول
            </p>
        </div>
    </div>


    <script src="../static/js/product.js"></script>
</body>
</html>