<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/profile.css">
    <title>profile</title>
</head>
<body>
    <div class="profile_menu">
        <h1>حساب کاربری</h1>
        <button>داشبورد</button>
        <button>سفارشات</button>
        <button>تیکت</button>
        <button>تغییر رمیز</button>
        <button>خروج</button>
    </div>

    <div id="dashbord">
        <h2>داشبورد</h2>
        <div id="dashbord_info">
            <form action="#">
                <div>
                    <label for="name">نام</label>
                    <input type="text" id="name" placeholder="نام">
                    <span id="namespan"></span>
                </div>
                <div>
                    <label for="last_name">نام خانوادگی</label>
                    <input type="text" id="last_name" placeholder="نام خانوادگی">
                    <span id="lastnamespan"></span>
                </div>
                <div>
                    <label for="email">ایمیل</label>
                    <input type="text" id="email" placeholder="example@email.com">
                    <span id="emailspan"></span>
                </div>
                <div>
                    <label for="phone_number">شماره تماس</label>
                    <input type="text" id="phone_number" placeholder="*********09">
                    <span id="phonespan"></span>
                </div>
                <div>
                    <label for="address">آدرس</label>
                    <input type="text" id="address" placeholder="استان-شهر-بخش-خیابان-طبقه-پلاک">
                    <span id="address_span"></span>
                </div>

                <input type="submit" value="ذخیره تغییرات">
            </form>
        </div>
    </div>

    <script src="../static/js/profile.js"></script>
</body>
</html>