<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/search_resault.css">
    <title>search resault</title>
</head>
<body>
    <div id="container2">
        <span class="slider_title">همه محصولات</span>
        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>

        <div class="product-container2">
            <a href="#">
                <img src="../static/image/shooz1.jpg" alt="product image">
                <div class="product_info">
                    <h2>کفش مردانه Fila مدل Kils</h2>
                    <span>980000 تومان</span><br />
                    <span class="old-price">1280000 تومان</span>
                </div>

            </a>
        </div>
        
    </div>

    <nav id="pagination">
        <button id="back">قبلی</button>

        <div id="pages"></div>

        <button id="next">بعدی</button>
    </nav>

    <script src="../static/js/search_resault.js"></script>
</body>
</html>