<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sinin.css">
    <title>sin in</title>
</head>
<body>
    <div class="form_container">
        <h1>ثبت نام</h1>
        <form class="sinin_form" action="">
            <div>
                <label for="name">نام</label>
                <input type="text" id="name">
            </div>
            <div>
                <label for="lastname">نام خانوادگی</label>
                <input type="text" id="lastname">
            </div>
            <div>
                <label for="phone_number">شماره تماس</label>
                <input type="text" id="phone_number"> 
            </div>
            <div>
                <label for="email">ایمیل</label>
               <input type="text" id="email">
            </div>
            <div>
                <label for="password">رمز</label>
                <input type="text" id="password">
            </div>
            <div>
                <label for="confirm_pass">تکرار رمز</label>
                <input type="text" id="confirm_pass">
            </div>
        </form>
    </div>

    <script src="../static/js/sinin.js"></script>
</body>
</html>