body
{
    margin: 0;
    background-color: rgb(231, 231, 231);
}

/* ################## fonts ###################### */

@font-face {
    font-family: icon;
    src: url('../fonts/BlackOpsOne-Regular.ttf');
}

/* ################## Header ###################### */

#head
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
    background-color: white;
}

/* ################## Header_siteicon ###################### */

#siteicon
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    text-align: center;
}

#siteicon img
{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    float: right;
    
}

#siteicon a
{
    width: 230px;
    color: black;
    text-decoration: none;
    float: right;
    margin-right: 30px;
    margin-left: 10px;
    font-family: icon ,sans-serif , Arial, Helvetica;
    font-size: 45px;
    text-shadow: 0px 1px 25px rgb(251, 255, 0);
    background-color: red;
    border-radius: 20%;
}

/* ################## Header_searchbox ###################### */
#searchbox
{
    display: none;
}

#searchbox form input[type="text"]
{
    width: 450px;
    height: 30px;
    text-align: right;
    direction: rtl;
    font-size: 20px;
    font-weight: bold;
    float: left;
    border: 1.5px solid black;
    box-shadow: 0px 0px 2px 1px rgb(173, 173, 173);
}

#searchbox form input[type="submit"]
{
    width: 100px;
    height: 35px;
    float: left;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 2px 1px rgb(173, 173, 173);
}

/* ################## Header_sin in and log in ###################### */

#sinlog
{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sinlog a
{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    float: left;
}

#sinlog a:hover
{
    text-shadow: 0px 0px 20px red;
    color: blue;
}

#searchbutton
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

#sinlog button
{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    border: none;
    float: left;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#searchbutton:hover
{
    background-color: rgb(0, 110, 255);
    box-shadow: 0px 0px 20px 0px red;
}