body
{
    margin: 0;
    background-color: rgb(231, 231, 231);
    padding-top: 100px;
}

/* ################## fonts ###################### */

@font-face {
    font-family: icon;
    src: url('../fonts/BlackOpsOne-Regular.ttf');
}

/* ################## Header ###################### */

#head
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10000;
}

/* ################## Header_siteicon ###################### */

#siteicon
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    text-align: center;
}

#siteicon img
{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    float: right;
    
}

#siteicon a
{
    width: 230px;
    color: black;
    text-decoration: none;
    float: right;
    margin-right: 30px;
    margin-left: 10px;
    font-family: icon ,sans-serif , Arial, Helvetica;
    font-size: 45px;
    text-shadow: 0px 1px 30px rgb(86, 255, 1);
    box-shadow: 0px 1px 10px 1px rgb(255, 1, 1);
    background-color: rgb(0, 179, 255);
    border-radius: 20%;
}

/* ################## Header_searchbox ###################### */
#searchbox
{
    display: none;
}

#searchbox form input[type="text"]
{
    width: 450px;
    height: 30px;
    text-align: right;
    direction: rtl;
    font-size: 20px;
    font-weight: bold;
    float: left;
    border: 1.5px solid black;
    box-shadow: 0px 0px 2px 1px rgb(173, 173, 173);
}

#searchbox form input[type="submit"]
{
    width: 100px;
    height: 35px;
    float: left;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 2px 1px rgb(173, 173, 173);
}

/* ################## Header_sin in and log in ###################### */

#sinlog
{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sinlog a
{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    float: left;
}

#sinlog a:hover
{
    text-shadow: 0px 0px 20px red;
    color: blue;
}

#searchbutton
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

#sinlog button
{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    border: none;
    float: left;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#searchbutton:hover
{
    background-color: rgb(0, 110, 255);
    box-shadow: 0px 0px 20px 0px red;
}

/* ################## Menu ###################### */

#menu
{
    width: 100%;
    height: 40px;
    background-color: rgb(10, 10, 10);
}

#menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#ulmenu
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

#ulmenu > li
{
    margin-left: 30px;
    position: relative;
}

#ulmenu > li:hover > a
{
    background-color: red;
}

#ulmenu > li:hover > .dropdown
{
    display: grid;
}

#ulmenu > li > a
{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* ################## Menu_dropdown ###################### */

.dropdown 
{
    direction: rtl;
    width: 700px;
    height: 400px;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    background-color: rgb(29, 29, 29);
    display: none;
    grid-template-rows: repeat(10 , auto);
    grid-template-columns: repeat(4 , auto);
    grid-auto-flow: column;
    z-index: 9999;
}

.dropdown li
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown a
{
    
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.dropdown li:hover
{
    background-color: red;
}

/* ################## container1 ###################### */

.banner_body
{
    width: 100%;
    height: 350px;
    margin: 40px auto;
    position: relative;
}

#banner_container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

#banner_container::-webkit-scrollbar{
    display: none;
}

.banner
{
    min-width: 1200px;
    height: 300px;
    margin-left: 150px;
    margin-right: 150px;
    background: linear-gradient(
        180deg,
        rgb(0, 170, 255),
        rgb(0, 51, 255)
    );
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.banner .sall
{
    width: 100px;
    height: 50px;
    background-color: red;
    border-radius: 35%;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img 
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 20px;
    opacity: 0.8;
}

.banner_info
{
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    right: 30px;
    direction: rtl;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_info h2
{
    font-size: 50px;
}

.banner_info p
{
    font-size: 20px;
    font-weight: bold;
}

.banner_info a
{
    padding: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 10%;
    font-size: 20px;
    font-weight: bold;
}

.banner_info a:hover
{
    transform: scale(1.05);
    box-shadow: 0 0 20px red;
}


/* ################## container1 ###################### */

#slider
{
    width: 100%;
    height: 200px;
    position: relative;
    margin:70px 0;
}

#container1
{
    width: 100%;
    height: 100%;
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

#container1::-webkit-scrollbar{
    display: none;
}

#slider #btn_right
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    right: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
}

#slider #btn_right:hover
{
    background-color: rgb(0, 179, 255);
}

#slider #btn_right:active
{
    background-color: red;
}

#slider #btn_right img
{
    width: 50px;
    height: 50px;
}

#slider #btn_left
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    left: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
}

#slider #btn_left:hover
{
    background-color: rgb(0, 179, 255);
}

#slider #btn_left:active
{
    background-color: red;
}

#slider #btn_left img
{
    width: 50px;
    height: 50px;
}

.slider_title
{
    position: absolute;
    top: -10px;
    right: 30px;
    background-color: rgb(231, 231, 231);
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
}

.product-container1
{
    width: 120px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 20px;

}

.product-container1:hover
{
    transform: scale(1.05);
    transition: transform 0.3s;
    background-color: rgb(0, 179, 255);
    border-radius: 10%;
}

.product-container1 a
{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.product-container1 img
{
    width: 100px;
    height: 100px;
    margin-top: 15px;
    border-radius: 50%;
}
.product-container1 h3
{
    margin-top: 0;
}

/* ################## container2 ###################### */

#container2
{
    width: 80%;
    max-width: 1300px;
    background-color: white;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.product-container2
{
    width: 220px;
    height: 380px;
    background-color: rgb(0, 179, 255);
    box-shadow: 1px 1px 10px 5px blue;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    border-radius: 5%;
    margin: 30px 30px;
}

.product-container2 a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    direction: rtl;
}

.product-container2:hover
{
    transform: scale(1.08);
    transition: transform 0.3s;
    box-shadow: 1px 1px 10px 5px rgb(255, 0, 0);
}

.product-container2 h2
{
    font-size: 22px;
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
}

.product-container2 img
{
    width: 200px;
    height: 200px;
    margin-top: 10px;
 
}

/* ################## container3 ###################### */

#container3
{
    width: 80%;
    max-width: 1300px;
    background-color: white;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.product-container3
{
    width: 220px;
    height: 380px;
    background-color: rgb(0, 179, 255);
    box-shadow: 1px 1px 10px 5px blue;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    border-radius: 5%;
    margin: 30px 30px;
}

.product-container3 a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    direction: rtl;
}

.product-container3:hover
{
    transform: scale(1.08);
    transition: transform 0.3s;
    box-shadow: 1px 1px 10px 5px rgb(255, 0, 0);
}

.product-container3 h2
{
    font-size: 22px;
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
}

.product-container3 img
{
    width: 200px;
    height: 200px;
    margin-top: 10px;
 
}

.off
{
    width: 100px;
    background-color: red;
}

/* ################## Footer ###################### */

.footer
{
    width: 100%;
    height: 300px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 50px;
}

#Symbol
{
    border-right: 1px dashed black;
}

#Social_networks
{
    border-right: 1px dashed black;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#Social_networks a
{
    text-decoration: none;
    color: black;
    font-size: 27px;
    font-weight: bold;
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    box-shadow: 0 0 20px rgb(40, 40, 40);
}

#Social_networks a:hover
{
    transform: scale(1.05);
}

#Social_networks a img
{
    width: 100%;
    height: 100%;
}

#Support
{
    direction: rtl;
    text-align: center;
    border-right: 1px dashed black;
    font-size: 25px;
}

#about
{
    direction: rtl;
    text-align: center;
    font-size: 20px;
}

#footermenu
{
    display: none;
}


/* ################## media query lab tap ###################### */

@media (min-width: 1025px) and (max-width: 1440px)
{
    /* --------------- siteicon ---------------- */   
    #siteicon
    {
        margin-right: 30px;
    }

    #siteicon img
    {
        width: 50px;
        height: 50px;        
    }

    #siteicon a
    {
        width: 150px;
        font-size: 30px;
    }
    /* --------------- sinlog ---------------- */
    #sinlog
    {
        margin-left: 50px;
    }

    #sinlog a
    {
        font-size: 25px;
    }

    #searchbutton
    {
        width: 25px;
        height: 25px;
    }

    #sinlog button
    {
        width: 25px;
        height: 25px;
    }
    /* --------------- seachbox ---------------- */
    #searchbox form input[type="text"]
    {
        width: 300px;
        height: 25px;
        font-size: 15px;
    }

    #searchbox form input[type="submit"]
    {
        width: 50px;
        height: 30px;
        font-size: 10px;

    }
    /* --------------- dropdown ---------------- */
    .dropdown 
    {
        top: 100%;
        right: 0;
        transform: translateX(0);
    }

    /* --------------- banner ---------------- */
    .banner
    {
        min-width: 800px;
    }
}

/* ################## media query tablet ###################### */

@media (min-width: 768px) and (max-width: 1024px)
{
    /* --------------- siteicon ---------------- */   
    #siteicon
    {
        margin-right: 15px;
    }

    #siteicon img
    {
        width: 50px;
        height: 50px;        
    }

    #siteicon a
    {
        width: 130px;
        font-size: 25px;
    }
    /* --------------- sinlog ---------------- */
    #sinlog
    {
        display: none;
    }

    /* --------------- banner ---------------- */

    .banner_body
    {
        width: 100%;
        height: 250px;
    }

    #banner_container::-webkit-scrollbar{
        display: none;
    }

    .banner
    {
        min-width: 700px;
        height: 200px;
    }

    .banner .sall
    {
        width: 70px;
        height: 30px;
        font-size: 15px;
        top: 15px;
        left: 15px;
        cursor: default;
    }

    .banner img 
    {
        width: 150px;
        height: 150px;
        margin-left: 15%;
        margin-top: 15px;
    }

    .banner_info
    {
        right: 15px;
    }

    .banner_info h2
    {
        font-size: 30px;
    }

    .banner_info p
    {
        font-size: 15px;
        font-weight: bold;
    }

    .banner_info a
    {
        padding: 5px;
        font-size: 15px;
    }
    /* --------------- footer ---------------- */
    .footer
    {
        width: 100%;
        height: 300px;
        margin-bottom: 100px;
        column-gap: 30px;
    }

    #Social_networks a
    {
        font-size: 20px;
        width: 80px;
        height: 60px;
    }

    #Support
    {
        font-size: 20px;
    }

    #about
    {
        font-size: 18px;
    }

    /* --------------- menu ---------------- */
    #menu
    {
        display: none;
    }

    #footermenu
    {
        width: 100%;
        height: 100px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        background-color: rgb(237, 237, 237);
    }

    #loginsinin
    {
        width: 70px;
        height: 70px;
        margin-right: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #loginsinin:active
    {
        background-color: rgb(0, 110, 255);
        box-shadow: 0 0 20px red;
    }

    #loginsinin img
    {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid black;
    }

    #searchboxfooter
    {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #searchboxfooter:active
    {
        background-color: rgb(0, 110, 255);
        box-shadow: 0 0 20px red;
    }

    #searchboxfooter img
    {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    #menufooter
    {
        width: 70px;
        height: 70px;
        margin-left: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menufooter:active
    {
        background-color: rgb(0, 110, 255);
        box-shadow: 0 0 20px red;
    }

    #menufooter img
    {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid black;
    }

    /* --------------- seachbox ---------------- */

    #searchbox
    {
        margin-left: 70px;
    }

    #searchbox form input[type="text"]
    {
        width: 300px;
        height: 25px;
        font-size: 15px;
    }

    #searchbox form input[type="submit"]
    {
        width: 50px;
        height: 30px;
        font-size: 10px;

    }

    #menu_strip
    {
        width: 200px;
        height: 100%;
        background-color: red;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15000;
    }

    #menu_strip h2
    {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        background-color: blue;
    }

    #menu_strip_list
    {
        width: 100%;
        height: 100%;
        background-color: yellow;
    }

    #menu_strip_list ul
    {
        list-style: none;
    }

    #ul_menu_strip_list
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(10,1fr);
    }

    #ul_menu_strip_list li
    {
        position: relative;
    }

    #ul_menu_strip_list a
    {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    #dropdown_menu_strip_list
    {
        direction: rtl;
        width: 200px;
        height: 500px;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 14999;
        background-color: green;
    }
}