body
{
    margin: 0;
    background-color: rgb(231, 231, 231);
    padding-top: 100px;
}

/* ################## fonts ###################### */

@font-face {
    font-family: icon;
    src: url('../fonts/BlackOpsOne-Regular.ttf');
}

/* ################## container1 ###################### */

.banner_body
{
    width: 100%;
    height: 350px;
    margin: 40px auto;
    position: relative;
}

#banner_container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

#banner_container::-webkit-scrollbar{
    display: none;
}

.banner
{
    min-width: 1200px;
    height: 300px;
    margin-left: 150px;
    margin-right: 150px;
    background: linear-gradient(
        180deg,
        rgb(0, 170, 255),
        rgb(0, 51, 255)
    );
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.banner .sall
{
    width: 100px;
    height: 50px;
    background-color: red;
    border-radius: 35%;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img 
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 20px;
    opacity: 0.8;
}

.banner_info
{
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    right: 30px;
    direction: rtl;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_info h2
{
    font-size: 50px;
}

.banner_info p
{
    font-size: 20px;
    font-weight: bold;
}

.banner_info a
{
    padding: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 10%;
    font-size: 20px;
    font-weight: bold;
}

.banner_info a:hover
{
    transform: scale(1.05);
    box-shadow: 0 0 20px red;
}


/* ################## container1 ###################### */

#slider
{
    width: 100%;
    height: 200px;
    position: relative;
    margin:70px 0;
}

#container1
{
    width: 100%;
    height: 100%;
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

#container1::-webkit-scrollbar{
    display: none;
}

#slider #btn_right
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    right: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
}

#slider #btn_right:hover
{
    background-color: rgb(0, 179, 255);
}

#slider #btn_right:active
{
    background-color: red;
}

#slider #btn_right img
{
    width: 50px;
    height: 50px;
}

#slider #btn_left
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    left: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
}

#slider #btn_left:hover
{
    background-color: rgb(0, 179, 255);
}

#slider #btn_left:active
{
    background-color: red;
}

#slider #btn_left img
{
    width: 50px;
    height: 50px;
}

.slider_title
{
    position: absolute;
    top: -10px;
    right: 30px;
    background-color: rgb(231, 231, 231);
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
}

.product-container1
{
    width: 120px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 20px;

}

.product-container1:hover
{
    transform: scale(1.05);
    transition: transform 0.3s;
    background-color: rgb(0, 179, 255);
    border-radius: 10%;
}

.product-container1 a
{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.product-container1 img
{
    width: 100px;
    height: 100px;
    margin-top: 15px;
    border-radius: 50%;
}
.product-container1 h3
{
    margin-top: 0;
}

/* ################## container2 ###################### */

#container2
{
    width: 80%;
    max-width: 1300px;
    background-color: white;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.product-container2
{
    width: 220px;
    height: 380px;
    background-color: rgb(0, 179, 255);
    box-shadow: 1px 1px 10px 5px blue;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    border-radius: 5%;
    margin: 30px 30px;
}

.product-container2 a
{
    text-decoration: none;
    color: black;
}

.product_info
{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    direction: rtl;
}

.product-container2:hover
{
    transform: scale(1.08);
    transition: transform 0.3s;
    box-shadow: 1px 1px 10px 5px rgb(255, 0, 0);
}

.product-container2 h2
{
    font-size: 22px;
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
}

.product-container2 img
{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 10%;
 
}

/* ################## container3 ###################### */

#container3
{
    width: 80%;
    max-width: 1300px;
    background-color: white;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.product-container3
{
    width: 220px;
    height: 380px;
    background-color: rgb(0, 179, 255);
    box-shadow: 1px 1px 10px 5px blue;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    border-radius: 5%;
    margin: 30px 30px;
}

.product-container3 a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    direction: rtl;
}

.product-container3:hover
{
    transform: scale(1.08);
    transition: transform 0.3s;
    box-shadow: 1px 1px 10px 5px rgb(255, 0, 0);
}

.product-container3 h2
{
    font-size: 18px;
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
}

.product-container3 img
{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 10%;
 
}

.off
{
    width: 100px;
    background-color: red;
}

/* ################## media query lab tap ###################### */

@media (min-width: 1025px) and (max-width: 1440px)
{

    /* --------------- banner ---------------- */
    .banner
    {
        min-width: 800px;
    }
}

/* ################## media query tablet ###################### */

@media (min-width: 768px) and (max-width: 1024px)
{

    /* --------------- banner ---------------- */

    .banner_body
    {
        width: 100%;
        height: 250px;
    }

    #banner_container::-webkit-scrollbar{
        display: none;
    }

    .banner
    {
        min-width: 700px;
        height: 200px;
    }

    .banner .sall
    {
        width: 70px;
        height: 30px;
        font-size: 15px;
        top: 15px;
        left: 15px;
        cursor: default;
    }

    .banner img 
    {
        width: 150px;
        height: 150px;
        margin-left: 15%;
        margin-top: 15px;
    }

    .banner_info
    {
        right: 15px;
    }

    .banner_info h2
    {
        font-size: 30px;
    }

    .banner_info p
    {
        font-size: 15px;
        font-weight: bold;
    }

    .banner_info a
    {
        padding: 5px;
        font-size: 15px;
    }

    .banner_info a:active
    {
        transform: scale(1.05);
        box-shadow: 0 0 20px red;
    }

    /* --------------- update product container2 ---------------- */

    .product-container2
    {
        width: 500px;
        height: 220px;
    }

    .product-container2 a
    {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .product_info
    {
        width: 250px;
        height: 100%;
        font-size: 15px;
        font-weight: bold;
        direction: rtl;
        margin-right: 15px;
        border-right: 2px dashed black;
    }

    .product-container2 img
    {
        width: 200px;
        height: 200px;
        margin-right: 10px;
        border-radius: 10%;
    }

    /* --------------- update product container3 ---------------- */

    .product-container3
    {
        width: 500px;
        height: 220px;
    }

    .product-container3 a
    {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;

    }

    .product_info
    {
        width: 250px;
        height: 100%;
        font-size: 15px;
        font-weight: bold;
        direction: rtl;
        margin-right: 15px;
        border-right: 2px dashed black;
    }

    .product-container3 img
    {
        width: 200px;
        height: 200px;
        margin-right: 10px;
        border-radius: 10%;
    
    }

    .off
    {
        width: 100%;
        background-color: red;
    }
}

/* ################## media query mobile phone ###################### */

@media (min-width: 480px) and (max-width: 767px)
{
    /* --------------- banner ---------------- */

    .banner_body
    {
        width: 100%;
        height: 250px;
    }

    #banner_container::-webkit-scrollbar{
        display: none;
    }

    .banner
    {
        min-width: 400px;
        height: 200px;
    }

    .banner .sall
    {
        width: 50px;
        height: 30px;
        font-size: 10px;
        top: 10px;
        left: 10px;
        cursor: default;
    }

    .banner img 
    {
        width: 150px;
        height: 150px;
        margin-left: 15%;
        margin-top: 15px;
    }

    .banner_info
    {
        right: 10px;
    }

    .banner_info h2
    {
        font-size: 20px;
    }

    .banner_info p
    {
        font-size: 10px;
        font-weight: bold;
    }

    .banner_info a
    {
        padding: 4px;
        font-size: 13px;
    }

    .banner_info a:active
    {
        transform: scale(1.05);
        box-shadow: 0 0 20px red;
    }


    /* --------------- update product container2 ---------------- */

    .product-container2
    {
        width: 400px;
        height: 170px;
    }

    .product-container2 a
    {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .product_info
    {
        width: 250px;
        height: 100%;
        direction: rtl;
        margin-right: 15px;
        border-right: 2px dashed black;
    }

    .product_info h2
    {
        font-size: 15px;
        font-weight: bold;
    }

    .product_info span
    {
        font-size: 13px;
    }

    .product-container2 img
    {
        width: 130px;
        height: 130px;
        margin-right: 10px;
        border-radius: 10%;
    }

    /* --------------- update product container3 ---------------- */

    .product-container3
    {
        width: 400px;
        height: 170px;
    }

    .product-container3 a
    {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;

    }

    .product_info
    {
        width: 250px;
        height: 100%;
        direction: rtl;
        margin-right: 15px;
        border-right: 2px dashed black;
    }

    .product-container3 img
    {
        width: 130px;
        height: 130px;
        margin-right: 10px;
        border-radius: 10%;
    
    }

    .off
    {
        width: 100%;
        background-color: red;
    }
}