body
{
    margin: 0;
    background-color: rgb(231, 231, 231);
}

/* ################## container2 ###################### */

#container2
{
    width: 80%;
    max-width: 1300px;
    background-color: white;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.product-container2
{
    width: 220px;
    height: 380px;
    background-color: rgb(0, 179, 255);
    box-shadow: 1px 1px 10px 5px blue;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    border-radius: 5%;
    margin: 30px 30px;
}

.product-container2 a
{
    text-decoration: none;
    color: black;
}

.product_info
{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    direction: rtl;
}

.product-container2:hover
{
    transform: scale(1.08);
    transition: transform 0.3s;
    box-shadow: 1px 1px 10px 5px rgb(255, 0, 0);
}

.product-container2 h2
{
    font-size: 22px;
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
}

.product-container2 img
{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 10%;
 
}

.slider_title
{
    position: absolute;
    top: -10px;
    right: 30px;
    background-color: rgb(231, 231, 231);
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
}


/* ################## pagination ###################### */

#pagination
{
    width: 400px;
    height: 50px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

#pagination button
{
    width: 50px;
    height: 100%;
    font-size: 20px;
    background: none;
}